@font-face {
  font-family: 'Dystopian';
  src: url('/public/sd-dystopian-font/Sddystopiandemo-GO7xa.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





.glitch-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.glitch-text {
  font-family: 'Dystopian', sans-serif;
  position: relative;
  display: inline-block;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, #ec4899, #8b5cf6, #06b6d4);
  animation: pulse 2s infinite;
}

.glitch {
  font-family: 'Dystopian', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.glitch-1 {
  color: #ec4899;
  animation: glitch1 0.5s infinite linear alternate-reverse;
}

.glitch-2 {
  color: #06b6d4;
  animation: glitch2 0.5s infinite linear alternate-reverse;
}

@keyframes pulse {
  0% { opacity: 0.9; }
  50% { opacity: 0.7; }
  100% { opacity: 0.9; }
}